body {
    margin:0;
    padding:0;
    background-color:deepskyblue;
    text-align: center;
}
#snake, #turtle, #rab, #dog, #cat, #status, #sleep, #feed, #play, #drink, #check, #pet {
    display:none;
}
h1 {
    text-align: center;
    font-family: cursive;
    font-size: 5em;
    color: red;
}
#petname, #status {
    color: red;
    font-family:cursive;
    font-size: 2em;
}
#options, #actions {
    display:flex;
    align-items: center;
    justify-content: center;
}
#options {
    width: 50%;
    justify-content: space-evenly;
    position: fixed;
    left: 25%;
    top: 40%;
}
#actions {
    width: 40%;
    justify-content: space-evenly;
    position: fixed;
    top: 50%;
    left: 30%;
}
#snake, #turtle, #dog, #cat, #rab {
    background-color: transparent;
    border: none;
}

@media screen and (max-width: 480px) {
    body {
        font-size: smaller;
    }
    #options {
        top: 60%;
        flex-direction: column;
        box-sizing:inherit;
    }
    #actions {
        top: 70%;
    }
}