body {
    margin:0;
    padding:0;
    background-color:deepskyblue;
    text-align: center;
}
#counter, #snake, #turtle, #rab, #dog, #cat, #status, #sleep, #feed, #play, #drink, #check, #pet {
    display:none;
}
h1 {
    text-align: center;
    font-family: cursive;
    font-size: 5em;
    color: red;
}
#petname {
    color: red;
    font-family:cursive;
    font-size: 2em;
}
#status, #counter {
    color:whitesmoke;
    font-family: monospace;
    font-size: 1.5em;
}
#counter {
    text-align: center;
    position: fixed;
    top: 60%;
    right: 30%;
}
#stats {
    color: red;
    display: flex;
    flex-direction: column;
    text-align:left;
    width: 100px;
    display:none;
    margin-left: 50mm;
}
#time {
    color: yellow;
    font-size: 1.5em;
}
#options, #actions {
    display:flex;
    align-items: center;
    justify-content: center;
}
#options {
    width: 50%;
    justify-content: space-evenly;
    position: fixed;
    left: 25%;
    top: 40%;
}
#actions {
    width: 40%;
    justify-content: space-evenly;
    position: fixed;
    top: 50%;
    left: 30%;
}
#snake, #turtle, #dog, #cat, #rab {
    background-color: transparent;
    border: none;
}
#play:hover, #feed:hover, #drink:hover, #sleep:hover, #check:hover, #new:hover, #snake:hover, #turtle:hover, #dog:hover, #cat:hover, #rab:hover {
    animation: shake 0.5s infinite;
}
#play, #feed, #drink, #sleep, #check, #new {
    background-color: red;
    border-radius: 50%;
    height: 30px;
    font-family: monospace;
    color: whitesmoke;
    border: none;
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }

@media screen and (max-width: 480px) {
    body {
        font-size: smaller;
    }
    #options {
        top: 60%;
        flex-direction: column;
    }
    #actions {
        top: 70%;
    }
}